
.sidebar {
    font-family: 'Harman Simple';
    font-size: 14px;
    line-height: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 300px; /* Set the width of the sidebar */
    top: 70px; /* Stay at the top */
    text-align: right;
}

/* The navigation menu links */
.sidebar a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #C0C0C0;
    border-bottom: 2px solid #ecf0f1;
}

.sidebar a.active {
    color: black;
    border-bottom: 2px solid black;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding-left: 10px;
    padding-right: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.sidebar-list {
    list-style-type: none;
}

.center {
  text-align: center;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.portrait{
  width: 60%;
}

ul:before{
    content: attr(aria-label);
    font-size: 130%;
    font-weight: bold;
}
